<div class=" card accordion" id="post-accordion-{{id}}" data-post-id="{{id}}">
  <div class=" card-body accordion-item">
    <h2 class="accordion-header" id="heading-{{id}}">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{id}}" aria-expanded="true" aria-controls="collapse{{id}}">
        <h1 class="card-title">{{title}}</h1> <span>by {{user.username}} on {{format_date created_at}}<span>
      </button>
    </h2>
    <div id="collapse{{id}}" class="accordion-collapse collapse " aria-labelledby="heading-{{id}}" data-bs-parent="#post-accordion-{{id}}">
      <div class="card-text accordion-body">
        <p>{{content}}</p>
         <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a> 
        
              {{#if @root.loggedIn}}
              <form class="comment-form">
                <div>
                  <textarea id="comment-body-{{id}}" name="comment-body"></textarea>
                </div>
                <div>
                  <button class="comment-btn" id="data-post-{{id}}" data-post-id="{{id}}" type="submit">add comment</button>
                </div>
              </form>
              {{/if}}
              
              {{> comments comments}}
              
              

      </div>
    </div>
  </div>
 
</div>

